///
/// Replace in `$string` each keyword formatted like `$<index>` with the
/// substitute of the corresponding index.
///
/// Replace "$1" with the first substitute passed, "$2" with the second,
/// and so on...
///
/// @access private
/// @param {String} $string - Initial string
/// @param {Arglist} $substitutes - List of string used as substitutes
/// @return {String} - Updated string
///
@function _sf-str-substitute($string, $substitutes...) {

  @for $i from 1 through length($substitutes) {
    $search: "$#{$i}";
    $substitute: nth($substitutes, $i);

    // Replace "$1" with the first argument passed, and so on...
    $string: _sf-str-replace($string, $search, $substitute);
  }

  @return $string;
}
